@charset "EUC-KR";

.top_nav_right ul li a.naver {
	background: url(../images/social3.png) no-repeat -7px -7px;
}

.description ul li a.naver {
	background: url(../images/social3.png) no-repeat -7px -7px;
}

.top_nav_right ul li a.naver {
	background: url(../images/social3.png) no-repeat -8px -8px;
}

.top_nav_right ul li a.join {
	background: url(../images/social3.png) no-repeat -130px -7px;
}

.top_nav_right ul li a.login {
	background: url(../images/social3.png) no-repeat -171px -7px;
}

.top_nav_right ul li a.join {
	background: url(../images/social3.png) no-repeat -131px -8px;
}

.top_nav_right ul li a.login {
	background: url(../images/social3.png) no-repeat -172px -8px;
}

.description ul li a.join {
	background: url(../images/social3.png) no-repeat -130px -7px;
}