<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="repository.mapper.API_MemberMapper">
	<insert id="insert" parameterType="API_MemberVO">
		INSERT INTO API_MEMBER(ID, NAME, NICKNAME, EMAIL)
		VALUES(#{id},#{name},#{nickname},#{email})
	</insert>
	
	<select id="selectLogin" resultType="int">
		SELECT COUNT(ID) FROM API_MEMBER
		WHERE ID=#{id}
	</select>







</mapper>